.root {
  flex-direction: row;
  width: 230px;
  height: auto;
  display: flex;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 6px;
  margin-top: 6px;
}
@media (max-width: 1920px) {
  .root {
    width: 228px;
  }
}
@media (max-width: 1400px) {
  .root {
    width: 140px;
  }
}
@media (max-width: 1199px) {
  .root > :global(.__wab_flex-container) {
    margin-left: calc(0px - 4px);
    width: calc(100% + 4px);
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
  }
}
@media (max-width: 1199px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 4px;
    margin-top: 4px;
  }
}
.paymentOption__idEa:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: flex;
}
@media (max-width: 1920px) {
  .paymentOption__idEa:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1400px) {
  .paymentOption__idEa:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1199px) {
  .paymentOption__idEa:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1043px) {
  .paymentOption__idEa:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.img___9GKXc {
  flex-direction: column;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30.359px;
  height: 9.844px;
  display: flex !important;
  top: auto;
  left: auto;
}
.img___9GKXc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img___9GKXc > :global(.__wab_flex-container) > *,
.img___9GKXc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img___9GKXc > :global(.__wab_flex-container) > picture > img,
.img___9GKXc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.paymentOption__ibDqm:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .paymentOption__ibDqm:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1400px) {
  .paymentOption__ibDqm:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1043px) {
  .paymentOption__ibDqm:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.img__dlIZq {
  flex-direction: column;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30.359px;
  height: 9.844px;
  display: flex !important;
  top: auto;
  left: auto;
}
.img__dlIZq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img__dlIZq > :global(.__wab_flex-container) > *,
.img__dlIZq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__dlIZq > :global(.__wab_flex-container) > picture > img,
.img__dlIZq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.paymentOption___0PSy:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .paymentOption___0PSy:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1400px) {
  .paymentOption___0PSy:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1043px) {
  .paymentOption___0PSy:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.img__dz09U {
  flex-direction: column;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30.359px;
  height: 9.844px;
  display: flex !important;
  top: auto;
  left: auto;
}
.img__dz09U > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img__dz09U > :global(.__wab_flex-container) > *,
.img__dz09U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__dz09U > :global(.__wab_flex-container) > picture > img,
.img__dz09U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.paymentOption__lDg3P:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .paymentOption__lDg3P:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1400px) {
  .paymentOption__lDg3P:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1043px) {
  .paymentOption__lDg3P:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.img__i1NVp {
  flex-direction: column;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30.359px;
  height: 9.844px;
  display: flex !important;
  top: auto;
  left: auto;
}
.img__i1NVp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img__i1NVp > :global(.__wab_flex-container) > *,
.img__i1NVp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__i1NVp > :global(.__wab_flex-container) > picture > img,
.img__i1NVp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.paymentOption__dPVi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .paymentOption__dPVi:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1400px) {
  .paymentOption__dPVi:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1043px) {
  .paymentOption__dPVi:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.img__xhNi {
  flex-direction: column;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30.359px;
  height: 9.844px;
  display: flex !important;
  top: auto;
  left: auto;
}
.img__xhNi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img__xhNi > :global(.__wab_flex-container) > *,
.img__xhNi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__xhNi > :global(.__wab_flex-container) > picture > img,
.img__xhNi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.paymentOption__yMo62:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .paymentOption__yMo62:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1400px) {
  .paymentOption__yMo62:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1043px) {
  .paymentOption__yMo62:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.img__kwfbX {
  flex-direction: column;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30.359px;
  height: 9.844px;
  display: flex !important;
  top: auto;
  left: auto;
}
.img__kwfbX > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img__kwfbX > :global(.__wab_flex-container) > *,
.img__kwfbX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__kwfbX > :global(.__wab_flex-container) > picture > img,
.img__kwfbX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.paymentOption__viS3I:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .paymentOption__viS3I:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1400px) {
  .paymentOption__viS3I:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1043px) {
  .paymentOption__viS3I:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.img___8Uh6I {
  flex-direction: column;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30.359px;
  height: 9.844px;
  display: flex !important;
  top: auto;
  left: auto;
}
.img___8Uh6I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img___8Uh6I > :global(.__wab_flex-container) > *,
.img___8Uh6I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img___8Uh6I > :global(.__wab_flex-container) > picture > img,
.img___8Uh6I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.paymentOption__yrTu9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .paymentOption__yrTu9:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1400px) {
  .paymentOption__yrTu9:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1199px) {
  .paymentOption__yrTu9:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1043px) {
  .paymentOption__yrTu9:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.img__uPgWa {
  flex-direction: column;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30.359px;
  height: 9.844px;
  display: flex !important;
  top: auto;
  left: auto;
}
.img__uPgWa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img__uPgWa > :global(.__wab_flex-container) > *,
.img__uPgWa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__uPgWa > :global(.__wab_flex-container) > picture > img,
.img__uPgWa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.paymentOption__etTsA:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .paymentOption__etTsA:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1400px) {
  .paymentOption__etTsA:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1199px) {
  .paymentOption__etTsA:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1043px) {
  .paymentOption__etTsA:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.img__cqm1B {
  flex-direction: column;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30.359px;
  height: 9.844px;
  display: flex !important;
  top: auto;
  left: auto;
}
.img__cqm1B > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img__cqm1B > :global(.__wab_flex-container) > *,
.img__cqm1B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__cqm1B > :global(.__wab_flex-container) > picture > img,
.img__cqm1B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.paymentOption___3Wl1V:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .paymentOption___3Wl1V:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1400px) {
  .paymentOption___3Wl1V:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1199px) {
  .paymentOption___3Wl1V:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1043px) {
  .paymentOption___3Wl1V:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.img__byUfA {
  flex-direction: column;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30.359px;
  height: 9.844px;
  display: flex !important;
  top: auto;
  left: auto;
}
.img__byUfA > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img__byUfA > :global(.__wab_flex-container) > *,
.img__byUfA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__byUfA > :global(.__wab_flex-container) > picture > img,
.img__byUfA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.paymentOption__cj5Ea:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .paymentOption__cj5Ea:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1400px) {
  .paymentOption__cj5Ea:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1199px) {
  .paymentOption__cj5Ea:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1043px) {
  .paymentOption__cj5Ea:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.img__xFLeE {
  flex-direction: column;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30.359px;
  height: 9.844px;
  display: flex !important;
  top: auto;
  left: auto;
}
.img__xFLeE > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img__xFLeE > :global(.__wab_flex-container) > *,
.img__xFLeE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__xFLeE > :global(.__wab_flex-container) > picture > img,
.img__xFLeE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.paymentOption__i7BpI:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .paymentOption__i7BpI:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1400px) {
  .paymentOption__i7BpI:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1199px) {
  .paymentOption__i7BpI:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1043px) {
  .paymentOption__i7BpI:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.img__x5Chq {
  flex-direction: column;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30.359px;
  height: 9.844px;
  display: flex !important;
  top: auto;
  left: auto;
}
.img__x5Chq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img__x5Chq > :global(.__wab_flex-container) > *,
.img__x5Chq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__x5Chq > :global(.__wab_flex-container) > picture > img,
.img__x5Chq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.paymentOption__gl3F:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .paymentOption__gl3F:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1400px) {
  .paymentOption__gl3F:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (max-width: 1043px) {
  .paymentOption__gl3F:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.img__nC2B9 {
  flex-direction: column;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30.359px;
  height: 9.844px;
  display: flex !important;
  top: auto;
  left: auto;
}
.img__nC2B9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img__nC2B9 > :global(.__wab_flex-container) > *,
.img__nC2B9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__nC2B9 > :global(.__wab_flex-container) > picture > img,
.img__nC2B9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.paymentOption__yC5Cb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .paymentOption__yC5Cb:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1400px) {
  .paymentOption__yC5Cb:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (max-width: 1043px) {
  .paymentOption__yC5Cb:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
.img__cz62U {
  flex-direction: column;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30.359px;
  height: 9.844px;
  display: flex !important;
  top: auto;
  left: auto;
}
.img__cz62U > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img__cz62U > :global(.__wab_flex-container) > *,
.img__cz62U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__cz62U > :global(.__wab_flex-container) > picture > img,
.img__cz62U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.paymentOption__l4NFx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .paymentOption__l4NFx:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (max-width: 1400px) {
  .paymentOption__l4NFx:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1199px) {
  .paymentOption__l4NFx:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1043px) {
  .paymentOption__l4NFx:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__xQhQ1 {
  flex-direction: column;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30.359px;
  height: 9.844px;
  display: flex !important;
  top: auto;
  left: auto;
}
.img__xQhQ1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img__xQhQ1 > :global(.__wab_flex-container) > *,
.img__xQhQ1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__xQhQ1 > :global(.__wab_flex-container) > picture > img,
.img__xQhQ1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.paymentOption___6O7QS:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .paymentOption___6O7QS:global(.__wab_instance) {
    flex-shrink: 0;
    display: none;
  }
}
@media (max-width: 1400px) {
  .paymentOption___6O7QS:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1199px) {
  .paymentOption___6O7QS:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1043px) {
  .paymentOption___6O7QS:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 991px) {
  .paymentOption___6O7QS:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__h1F6S {
  flex-direction: column;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30.359px;
  height: 9.844px;
  display: flex !important;
  top: auto;
  left: auto;
}
.img__h1F6S > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img__h1F6S > :global(.__wab_flex-container) > *,
.img__h1F6S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__h1F6S > :global(.__wab_flex-container) > picture > img,
.img__h1F6S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
