.root {
  width: auto;
  height: auto;
  display: inline-flex;
  padding-top: 2.288px;
  padding-bottom: 2.288px;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
}
.rootcons > :global(.__wab_flex-container) {
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootcons > :global(.__wab_flex-container) > *,
.rootcons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootcons > :global(.__wab_flex-container) > picture > img,
.rootcons
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
  margin-top: 0px;
}
.rootpros > :global(.__wab_flex-container) {
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootpros > :global(.__wab_flex-container) > *,
.rootpros > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootpros > :global(.__wab_flex-container) > picture > img,
.rootpros
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
  margin-top: 0px;
}
.check:global(.__wab_instance) {
  position: relative;
  margin-right: 0px;
  margin-left: calc(0px + 0px) !important;
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: flex-end;
  flex-shrink: 0;
}
.checkcons:global(.__wab_instance) {
  align-self: flex-end;
  margin-left: calc(0px + 4px) !important;
  margin-top: calc(0px + 0px) !important;
  flex-shrink: 0;
}
.checkpros:global(.__wab_instance) {
  margin-left: calc(0px + 4px) !important;
  margin-top: calc(0px + 0px) !important;
  flex-shrink: 0;
}
.slotTargetInfo {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #2a577e;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: 0em;
  user-select: none;
  white-space: pre;
}
.slotTargetInfocons {
  color: #dd7272;
  font-size: 18px;
}
.slotTargetInfopros {
  color: #0460a9;
  font-size: 18px;
}
