.root {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
  width: 53px;
  height: 30px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.rootsmall {
  width: 42px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  flex-column-gap: 0px;
}
.img__xzeOe {
  flex-direction: column;
  position: relative;
  object-fit: scale-down;
  max-width: 100%;
  width: 53px;
  height: 9px;
  display: flex !important;
  top: auto;
  left: auto;
  align-self: center;
  flex-shrink: 0;
}
.img__xzeOe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.img__xzeOe > :global(.__wab_flex-container) > *,
.img__xzeOe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__xzeOe > :global(.__wab_flex-container) > picture > img,
.img__xzeOe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.imgsmall__xzeOeSPhR0 {
  left: auto;
  top: auto;
}
