.root {
  flex-direction: column;
  width: auto;
  height: auto;
  display: inline-flex;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 6px;
}
.root_3 {
  width: 329px;
  max-width: 329px;
}
.frame1627 {
  flex-direction: row;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  min-width: 0;
}
.frame1627 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame1627 > :global(.__wab_flex-container) > *,
.frame1627 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1627 > :global(.__wab_flex-container) > picture > img,
.frame1627
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__ahlM {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 0.708;
  color: rgba(17, 56, 92, 1);
  position: relative;
}
.text__uWrAj {
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration-line: underline;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1;
  color: rgba(3, 95, 168, 1);
  position: relative;
}
.frame1716 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.frame1716 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.frame1716 > :global(.__wab_flex-container) > *,
.frame1716 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1716 > :global(.__wab_flex-container) > picture > img,
.frame1716
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.frame1619 {
  flex-direction: row;
  width: 100%;
  height: 84px;
  display: flex;
  position: relative;
  overflow: hidden;
  min-width: 330px;
  flex-shrink: 0;
}
.frame1619 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame1619 > :global(.__wab_flex-container) > *,
.frame1619 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1619 > :global(.__wab_flex-container) > picture > img,
.frame1619
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
@media (max-width: 1920px) {
  .frame1619 {
    min-width: 440px;
  }
}
.frame1619_3 {
  max-width: 332px;
  width: 100%;
  margin-bottom: 0px;
  height: 84px;
  min-width: 0;
  flex-shrink: 0;
}
.frame1619_3 > :global(.__wab_flex-container) {
  min-width: 0;
}
.providerLogo__wrjy9:global(.__wab_instance) {
  position: relative;
  align-self: center;
  flex-shrink: 0;
}
.img___1XLLm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___1XLLm > picture > img {
  object-fit: cover;
}
.img___1XLLm > .__wab_img-spacer > img {
  object-fit: cover;
}
.providerLogo__agjm1:global(.__wab_instance) {
  position: relative;
  align-self: center;
  flex-shrink: 0;
}
.img__zhBdq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__zhBdq > picture > img {
  object-fit: cover;
}
.img__zhBdq > .__wab_img-spacer > img {
  object-fit: cover;
}
.providerLogo__tqTJ:global(.__wab_instance) {
  position: relative;
  align-self: center;
  flex-shrink: 0;
}
.img___2QYI {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___2QYI > picture > img {
  object-fit: cover;
}
.img___2QYI > .__wab_img-spacer > img {
  object-fit: cover;
}
.providerLogo___3Yxbj:global(.__wab_instance) {
  position: relative;
  align-self: center;
  flex-shrink: 0;
}
.img__xG8Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__xG8Q > picture > img {
  object-fit: cover;
}
.img__xG8Q > .__wab_img-spacer > img {
  object-fit: cover;
}
.providerLogo__zWk8U:global(.__wab_instance) {
  position: relative;
  align-self: center;
  flex-shrink: 0;
}
.img___1RfXz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___1RfXz > picture > img {
  object-fit: cover;
}
.img___1RfXz > .__wab_img-spacer > img {
  object-fit: cover;
}
.providerLogo___80Djv:global(.__wab_instance) {
  position: relative;
  align-self: center;
  flex-shrink: 0;
}
.providerLogo_3___80DjvglhjA:global(.__wab_instance) {
  flex-shrink: 0;
}
.img__u9JqF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__u9JqF > picture > img {
  object-fit: cover;
}
.img__u9JqF > .__wab_img-spacer > img {
  object-fit: cover;
}
.providerLogo__eWaHw:global(.__wab_instance) {
  position: relative;
  align-self: center;
  flex-shrink: 0;
}
.img__cW8VX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__cW8VX > picture > img {
  object-fit: cover;
}
.img__cW8VX > .__wab_img-spacer > img {
  object-fit: cover;
}
.providerLogo__fio5T:global(.__wab_instance) {
  position: relative;
  align-self: center;
  flex-shrink: 0;
}
.img___44Uo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___44Uo > picture > img {
  object-fit: cover;
}
.img___44Uo > .__wab_img-spacer > img {
  object-fit: cover;
}
